*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    font-size: 14px;
}

body {
    position: relative;
    font-family: 'Source Sans Pro', "Poppins", sans-serif;
    background-color: #fff;

    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--body-color);

    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    transition: 0.3s ease;
}

:root {
    --orange-dore: #c89446;
    --h2-color-dark: #383838;
    --h3-color-dark: #1D1D1D;
    --body-color: #6F6F6F;
    --font-Pinyon: 'Pinyon Script', serif;
}

img {
    max-width: 100%;
    height: auto;
}

.text-success{
    color: #00B050;
}
/* ==================== start =================  */

.container {
    max-width: 960px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
}